.clinicChart {
    height: 400px;
    width: 400px;
}

.clinicCharts {
    /*visibility: hidden;*/
}

.img-fluid { max-width: 100%; and height: auto;}

.container-fluid {
  background: url("final_bk.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

/*.table-responsive{-sm|-md|-lg|-xl}*/

#clinic_links {
  
  font-size: x-large;
  color: dark-blue;
}



video {
    width: 100%;
    position: absolute;
    z-index: -1;
}

header {
    position: relative;
    background: #4a4a4a6b;
    overflow-y: hidden;
    height: 556px;
}

header .container .row {
    padding: 3rem;
}

#autocomplete-location {
  width: 10rem;
}

a {

  font-weight: bold;
}

#home {
  color: white;

}

.service_table {
  border: 1px solid red;
}


.treatment-type-fresh, .treatment-type-frozen {
  margin: 2px; 
  border: 1px solid black;
  background: blue; 
  width: 15%; 
  color: white;
  padding: 4px;
}




#center_text {
  text-align: center;
  display: inline-block;
}


#services_rate {
  background: none;
}





