.clinic_chart {
    height: 300px;
    width: 600px;
    font-color: black;
    font-weight: 800;
    margin: 5rem 2rem 5rem 0;
}



.img-fluid { max-width: 100%; and height: auto;}

.container-fluid {
  background: url(embryo.png) no-repeat center center;
  background-size: cover;
  font-weight: bold;
  color: black;
}

.thead-dark {
  color: #9888A5;

}

.container {
  font-weight: bold;
}

/*.table-responsive{-sm|-md|-lg|-xl}*/

.treatment-type-fresh, .treatment-type-frozen {
  margin: 4rem 2rem 2rem 0;
  border: 1px solid black;
  background: black; 
  width: 25%; 
  color: white;
}
.col-6 col-md-4 {
  padding: 2rem;
}

.mul_single_births {
  margin: 3rem 3rem 3rem 0;
}
video {
    width: 100%;
    position: absolute;
    z-index: -1;
}

header {
    position: relative;
    background: #4a4a4a6b;
    overflow-y: hidden;
    height: 556px;
}

header {
    padding: 2rem;
}

#autocomplete-location {
  width: 10rem;
  font-weight: 800;
}

a {

  font-weight: bold;
  font-size: 22px;
  color: darkblue;
}

.footer {
  position: fixed;
}
#home {
  color: white;

}

.service_table {
  border: 1px solid red;
}




#center_text {
  text-align: center;
  display: inline-block;
}


#services_rate {
  background: none;
}


#footer {
  height: 20px;
  background: transparent; /*Same as body, you could also use transparent */
}


