{% extends 'base.html' %}


{% block head %}
  <title>Homepage</title>


    <style>
      /* Set the size of the div element that contains the map */
      #map {
        /*height: 400px;   The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
        html, body {
            height: 100%;
        }
    </style>
{% endblock %}


{% block content %}
<div class="container-fluid">


<!-- div for video background -->
<header class="align-items-center d-flex justify-content-center">

     <!-- <div class="overlay"></div> -->
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/static/icsi_1.mp4" type="video/mp4">
      </video>
      <div class="container">
        <div class="row align-items-center text-light">
          <div class="col-4">
            <div>
            <h3 style="font-size: x-large; font-weight: 800">Locate a Fertility Clinic</h3>
            </div>
          <div>

            <!-- Create a search bar -->
            <!-- <form id='user_input_form' action='/get-state-city' method='POST'> -->
            <p>Select a city and a state below to locate fertility clinics near you.</p>
            <p>Learn about the services they provide, the types of patients they see, and their success rates.</p>
          </div>
          <div class="col-4"></div>
          <div class="col-4"></div>  
          <form id='user_input_form' action='/get-state-city' method='POST'>
            
            Location:
                <input type="text" id="autocomplete-location" name='location'>
                <input type='submit' id='go' value="Search">
           
            </form>
            
          </div>
          
        </div>
      </div>
    </header> 
</div>

         
    <!--The div element for autocomplete search bar -->
    

    <script>
        function initAutocomplete() {
            
            const autocomplete1 = new google.maps.places.Autocomplete(
                document.getElementById('autocomplete-location'),
                { types: [ '(cities)' ] }
            );
            google.maps.event.addListener(autocomplete1, 'place_changed', function(){
                var place = autocomplete1.getPlace();
                
            })
        }
                
    </script>

    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1y8atwwt1qwp5VH6k-Wm1Xwqkuw3IgxM&libraries=places&callback=initAutocomplete"></script>

  
    

{% endblock %}
