

style="height: 2rem; margin-top: 1rem; padding-left: 1rem; background-color: darkgray; color: white; width: 100%; border: black solid 1px"
<!-- <!doctype html>
<html>
<head>
</head>

<body>


<canvas id="myChart" width="400" height="400"></canvas>


<script>
const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>


</body>
</html>


 -->
<table id="services">
    <tr>
        <th>Clinic Services and Profile</th>
        <td>Member of SART</td>
        <td>Gestational carrier services</td>
        <td>Services for single women</td>
        <td>Egg cryopreservation services</td>
        <td>Embryo cryopreservation services</td>
        <td>Donor embryo services</td>
        <td>Donor egg services</td>
    </tr>
    <tr>
        <td></td>
        {% if {{ user_services.is_sart }} == "Yes" %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}


        {% if {{ user_services.is_surrogates }} == "Yes" %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}

        {% if {{ user_services.is_single }} == "Yes" %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}


        {% if {{ user_services.is_eggcryo }} == "Yes" %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}

        {% if {{ user_services.is_embrocryo }} == "Yes" %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}

        {% if {{ user_services.is_donor_emb }} == "Yes" %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}

        {% if {{ user_services.is_donor_egg }} == "Yes" %}
        <td>Yes</td>
        {% else %}
        <td>No</td>
        {% endif %}
    </tr>
</table>


 <script>
  function sendAlert() {
      alert("hello");
    }

    function handleOrderSubmit(evt) {
      evt.preventDefault();

      const formInputs = {
        'location': $('#autocomplete_location').val()
      };

      console.log('POST /new-order');
      $.post('/get-state-city', formInputs, sendAlert);
    }

$('#user_input_form').on('submit', handleOrderSubmit);
#}


<script>

{#  let clinic_names = {{ clinic_names }}



        function getInputs(evt) {

            evt.preventDefault();

            console.log(userInputs)#}
           
            $.get('/get-state-city', handleUserInputs);

            return true;
            }

    $('#user_input_form').on('submit', getInputs);
  
#}


        


   </script>

   mx-auto d-lg-block d-md-block d-none


