{% extends 'base.html' %}
{% block content %}

<div class="melon-chart">
    <canvas id="donutChart"></canvas>
    <div id="donutLegend" class="chart-legend"></div>
</div>

<div class="melon-chart">
    <canvas id="lineChart"></canvas>
    <div id="lineLegend" class="chart-legend"></div>
</div>

<script>
   const options = {
      responsive: true
    };

    // Make Donut Chart of percent of different types of Melons
    let ctx_donut = $("#donutChart").get(0).getContext("2d");

    $.get("/melon-types.json", function (data) {
      let myDonutChart = new Chart(ctx_donut, {
                                              type: 'doughnut',
                                              data: data,
                                              options: options
                                            });
      $('#donutLegend').html(myDonutChart.generateLegend());
    });

</script>

<script>
    const myBarChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: options
    });

        const options = {
            responsive: true
            scales: {
                xAxes: [{
                    barPercentage: 0.5,
                    barThickness: 6,
                    maxBarThickness: 8,
                    minBarLength: 2,
                    gridLines: {
                        offsetGridLines: true
                    }
                    hoverBackgroundColor
                }]
            }
        };

</script>