{% extends 'base.html' %}

{% block content %}

<h1>View ART Data:</h2><br><br>

<h2>{{ clinic_name }}</h2>
<h3>{{ clinic_address }}</h3>


Fresh embryo:<br><br>
    What is the chance of having multiple live births?<br>
        Age of woman
        <table>
            <tr>
                <th></th>
                <th>Less than 35</th>
                <th>35-37</th>
                <th>38-40</th>
                <th>More than 40</th>
            </tr>
            <tr>
                {% for rate in rates %}
                <td>Clinic</td>
                <td>{{ rate.fresh_mul_1 }}</td>
                <td>{{ rate.fresh_mul_2 }}</td>
                <td>{{ rate.fresh_mul_3 }}</td>
                <td>{{ rate.fresh_mul_4 }}</td>
                {% endfor %}
            </tr>
        </table><br>

Fresh embryo:<br><br>

What is the chance of having a term, normal birth weight and singleton live birth?<br>
        Age of woman
        <table>
            <tr>
                <th></th>
                <th>Less than 35</th>
                <th>35-37</th>
                <th>38-40</th>
                <th>More than 40</th>
            </tr>
            <tr>
                {% for rate in rates %}
                <td>Clinic</td>
                <td>{{ rate.fresh_sin_1 }}</td>
                <td>{{ rate.fresh_sin_2 }}</td>
                <td>{{ rate.fresh_sin_3 }}</td>
                <td>{{ rate.fresh_sin_4 }}</td>
                {% endfor %}
            </tr>
        </table><br>



Frozen embryo:<br><br>
    What is the chance of having multiple live births?<br>
        Age of woman
        <table>
            <tr>
                <th></th>
                <th>Less than 35</th>
                <th>35-37</th>
                <th>38-40</th>
                <th>More than 40</th>
            </tr>
            <tr>
                 {% for rate in rates %}

                <td>Clinic</td>
                <td>{{ rate.fro_mul_1 }}</td>
                <td>{{ rate.fro_mul_2 }}</td>
                <td>{{ rate.fro_mul_3 }}</td>
                <td>{{ rate.fro_mul_4 }}</td>
                {% endfor %}
            </tr>
        </table><br>

Frozen embryo:<br><br>
    What is the chance of having a term, normal birth weight and singleton live birth?<br>
        Age of woman
        <table>
            <tr>
                <th></th>
                <th>Less than 35</th>
                <th>35-37</th>
                <th>38-40</th>
                <th>More than 40</th>
            </tr>
            <tr>
                {% for rate in rates %}

                <td>Clinic</td>
                <td>{{ rate.fro_sin_1 }}</td>
                <td>{{ rate.fro_sin_2 }}</td>
                <td>{{ rate.fro_sin_3 }}</td>
                <td>{{ rate.fro_sin_4 }}</td>
                {% endfor %}
            </tr>
        </table>



<div id="clinic_map" style="height:400px; width:400px"></div>

<script>

    var marker;

    function initMap() {
        var map = new google.maps.Map(document.getElementById('clinic_map'), {
            zoom: 12,
            center: {lat: {{ latitude }}, lng: {{ longitude }}}
        });

        marker = new google.maps.Marker({
            map: map,
            animation: google.maps.Animation.DROP,
            position: {lat: {{ latitude }}, lng: {{ longitude }}}
        });
        marker.addListener('click', toggleBounce);
    }

    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }
</script>

<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfjxfPTabsjVyZPQT1zp9L1VaB9sjvwxc&callback=initMap">
</script>



{% endblock %}




    


