{% extends 'base.html' %}

{% block head %}
<title>List of clinics</title>
{% endblock %}

{% block content %}


<!-- It's container-fluid so it spans the entire page. -->
  <div class="container-fluid">
    <!-- Begin centered main text -->
      <div class="row align-items-center">
    
    </div>
    <!-- End of centered main text -->

<!-- Table -->

    <div class="text-center" style="text-align: center; display: inline-block; color: white; padding: 5rem; margin: auto 5rem auto 5rem">
    <h4 style="color: black"><b>FERTILITY CLINICS IN {{ user_city }}, {{ user_state }}<b></h4> 
    </div>


<div class = "container fluid">
    <div class= "row vertical-center" id="tables">

    <section class="col-10 mx-auto d-lg-block d-md-block d-none">
        <table class="table table-hover" id="clinic_list" style="margin: auto">
            <thead>
                <tr>
                    <th>Clinic Name</th>
                    <th>State</th>
                    <th>City</th>
                </tr>
            </thead>
            
            <tbody class="table-hover">
            {% for user_clinic in user_clinics %}
            
                <tr>
                    <td><a href='/show_services_rates/{{ user_clinic.clinic_name }}'>{{ user_clinic.clinic_name }}</a></td>
                    <td>{{ user_state }}</td>
                    <td>{{ user_city }}</td>
                </tr> 
            {% endfor %}
            </tbody>
        </table>
        <div id="map_with_markers" style="margin: 5rem; height: 400px; width: 80%"></div>
    </section>

</div>
<!-- div element for map and markers -->

</div>
</div>

    

<script>
    const geo_locations = {{ geo_locations| safe }};
    function initMap() {
        const center_marker = {lat: geo_locations['lat'][0], lng: geo_locations['lng'][0]};
        const map = new google.maps.Map(document.getElementById('map_with_markers'), {
            zoom: 12,
            disableDoubleClickZoom: true,
            center: center_marker
        });
        make_markers(map);
    }
    function make_markers(map) {
        const geo_locations = {{ geo_locations| safe }};
        const geo_lat = geo_locations['lat'] ;
        console.log(geo_lat);
        const geo_lng =  geo_locations['lng'] ;
        console.log(geo_lng);
            
        for (let i = 0; i < geo_lat.length; i++) {
            const LatLng = {lat: geo_lat[i], lng: geo_lng[i]};
            
            let marker = new google.maps.Marker({
                map: map,
                animation: google.maps.Animation.DROP,
                position: LatLng
            });
            marker.addListener('click', toggleBounce);
        }
    }
    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfjxfPTabsjVyZPQT1zp9L1VaB9sjvwxc&callback=initMap">
</script>



{% endblock %}



    

