{% extends 'base.html' %}

{% block content %}

<script>
    
    // Make Bar Chart of percent of different age groups of woman whose treatments are based on fresh embryo
    let ctx_bar_fresh = $("#barChartFresh").get(0).getContext("2d");
    let data = {{ rate_dict |safe }};
    console.log(data)

    let stackedBarFresh = new Chart(ctx_bar_fresh, {
        type: 'bar',
        data: {
            labels: ['<35', '35-37', '38-40', '>40'],
            datasets: [
                {
                    label: 'Percentage of fresh embryo resulting in multiple live biths', 
                    data: [ data['fresh_mul_1'] ,  data['fresh_mul_2'] , data['fresh_mul_3'] , data['fresh_mul_4'] ],

                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    
                    borderColor: 'rgba(255, 99, 132, 1)',
            
                    borderWidth: 1           
                },

                {
                    label: 'Percentage of fresh embryo resulting in singleton live births', 
                    data: [data['fresh_sin_1'], data['fresh_sin_2'], data['fresh_sin_3'], data['fresh_sin_4']],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1    
                }

            ],
        },
        options: {
            responsive: true,
            scales: {
                xAxes: [{
                    // stacked: true
                    type: 'category',
                    labels: ['Less than 35', '35-37', '38-40', '>40']
                }],
                yAxes: [{
                    ticks: {
                        suggestedMin: 10,
                        suggestedMax: 100
                    }
                }]
            }
        }
        
    });



    // Create bar chart for different age groups of women whose treatments are based on frozen embryo
    let ctx_bar_frozen = $("#barChartFrozen").get(0).getContext("2d");

    let stackedBarFrozen = new Chart(ctx_bar_frozen, {
        type: 'bar',
        connectNullData: true,
        data: {
            labels: ['<35', '35-37', '38-40', '>40'],
            datasets: [
                {
                    label: 'Percentage of frozen embryo resulting in multiple live biths', 
                    data: [data['fro_mul_1'], data['fro_mul_2'],  data['fro_mul_3'] , data['fro_mul_4']],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    
                    borderColor: 'rgba(255, 99, 132, 1)',
            
                    borderWidth: 1           
                },

                {
                    label: 'Percentage of frozen embryo resulting in singleton live births', 
                    data: [ data['fro_sin_1'] , data['fro_sin_2'] ,  data['fro_sin_3'] , data['fro_sin_4'] ],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1    
                }

            ],
        },
        options: {
            responsive: true,
            scales: {
                xAxes: [{
                    // stacked: true
                    type: 'category',
                    labels: ['Less than 35', '35-37', '38-40', '>40']
                }],
                yAxes: [{
                    ticks: {
                        suggestedMin: 10,
                        suggestedMax: 100
                    }
                }]
            }
        }
    });

</script>

