{% extends 'base.html' %}


{% block content %}

{% macro create_service_td(has_service) %}
    {% if has_service == "Yes" %}
        <td>Yes</td>
    {% else %}
        <td>No</td>
    {% endif %}
{% endmacro %}
<div style="margin:2rem;">
<h1>View ART Data:</h2><br><br>


<div class="center_text">
<h2>{{ clinic_name }}</h2>
<h3>{{ clinic_address }}</h3>
</div>

<div id="services_rates">
    <!-- Begin centered main text -->
      <div class="row align-items-center">
        <section class="col-6 mx-auto" id="splash">
          
          <p><p>
        </section>
    </div>

      


<div class="service_table">
<section class="col-10 mx-auto d-lg-block d-md-block d-none">
<table>
    <tr>
        <th>Clinic Services and Profile</th>
        <td>Member of SART</td>
        <td>Gestational carrier services</td>
        <td>Services for single women</td>
        <td>Egg cryopreservation services</td>
        <td>Embryo cryopreservation services</td>
        <td>Donor embryo services</td>
        <td>Donor egg services</td>
    </tr>
    <tr>

        <td></td>
        <td>
            {% for service in [user_services.is_sart,
                               user_services.is_surrogates,
                               user_services.is_single,
                               user_services.is_eggcryo,
                               user_services.is_embryocryo,
                               user_services.is_donor_emb,
                               user_services.is_donor_egg]
            %}
                {{ create_service_td(service) }}
            {% endfor %}
        </td>
    </tr>
        
    
</table>
</div>

<div style="height: 2rem; margin-top: 1rem; padding-left: 1rem; background-color: darkgray; color: white"> Fresh Embryo</div>
    What is the chance of having multiple live births?<br>
        Age of woman
        <table id="fresh_mul" style="border:1px solid green">
            <tr>
                <th></th>
                <th>Less than 35</th>
                <th>35-37</th>
                <th>38-40</th>
                <th>More than 40</th>
            </tr>
            <tr>
                <td>Clinic</td>
                <td>{{ rate.fresh_mul_1 }}</td>
                <td>{{ rate.fresh_mul_2 }}</td>
                <td>{{ rate.fresh_mul_3 }}</td>
                <td>{{ rate.fresh_mul_4 }}</td>
            </tr>
        </table><br>

Fresh embryo:<br><br>

What is the chance of having a term, normal birth weight and singleton live birth?<br>
        Age of woman
        <table id="fresh_sin" style="border:1px solid blue">
            <tr>
                <th></th>
                <th>Less than 35</th>
                <th>35-37</th>
                <th>38-40</th>
                <th>More than 40</th>
            </tr>
            <tr>
                <td>Clinic</td>
                <td>{{ rate.fresh_sin_1 }}</td>
                <td>{{ rate.fresh_sin_2 }}</td>
                <td>{{ rate.fresh_sin_3 }}</td>
                <td>{{ rate.fresh_sin_4 }}</td>
            </tr>
        </table><br>



Frozen embryo:<br><br>
    What is the chance of having multiple live births?<br>
        Age of woman
        <table id="fro_mul" style="border:1px solid purple">
            <tr>
                <th></th>
                <th>Less than 35</th>
                <th>35-37</th>
                <th>38-40</th>
                <th>More than 40</th>
            </tr>
            <tr>

                <td>Clinic</td>
                <td>{{ rate.fro_mul_1 }}</td>
                <td>{{ rate.fro_mul_2 }}</td>
                <td>{{ rate.fro_mul_3 }}</td>
                <td>{{ rate.fro_mul_4 }}</td>
            </tr>
        </table><br>

Frozen embryo:<br><br>
    What is the chance of having a term, normal birth weight and singleton live birth?<br>
        Age of woman
        <table id="fro_sin">
            <tr>
                <th></th>
                <th>Less than 35</th>
                <th>35-37</th>
                <th>38-40</th>
                <th>More than 40</th>
            </tr>
            <tr>
                <td>Clinic</td>
                <td>{{ rate.fro_sin_1 }}</td>
                <td>{{ rate.fro_sin_2 }}</td>
                <td>{{ rate.fro_sin_3 }}</td>
                <td>{{ rate.fro_sin_4 }}</td>
            </tr>
        </table>
        

<button id="get-chart-button">Please click here for each clinic's charts</button>

<div class="clinicCharts">  
    <div class="clinicChart" >
        <canvas id="barChartFresh"></canvas>
    </div>
    <div class="clinicChart">
        <canvas id="barChartFrozen"></canvas>
    </div>
</div>

<script>
    
    // Make Bar Chart of percent of different age groups of woman whose treatments are based on fresh embryo
    let ctx_bar_fresh = $("#barChartFresh").get(0).getContext("2d");
    let data = {{ rate_dict |safe }};
    console.log(data)

    let stackedBarFresh = new Chart(ctx_bar_fresh, {
        type: 'bar',
        data: {
            labels: ['<35', '35-37', '38-40', '>40'],
            datasets: [
                {
                    label: 'Percentage of fresh embryo resulting in multiple live biths', 
                    data: [ data['fresh_mul_1'] ,  data['fresh_mul_2'] , data['fresh_mul_3'] , data['fresh_mul_4'] ],

                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    
                    borderColor: 'rgba(255, 99, 132, 1)',
            
                    borderWidth: 1           
                },

                {
                    label: 'Percentage of fresh embryo resulting in singleton live births', 
                    data: [data['fresh_sin_1'], data['fresh_sin_2'], data['fresh_sin_3'], data['fresh_sin_4']],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1    
                }

            ],
        },
        options: {
            responsive: true,
            scales: {
                xAxes: [{
                    // stacked: true
                    type: 'category',
                    labels: ['Less than 35', '35-37', '38-40', '>40']
                }],
                yAxes: [{
                    ticks: {
                        suggestedMin: 10,
                        suggestedMax: 100
                    }
                }]
            }
        }
        
    });



    // Create bar chart for different age groups of women whose treatments are based on frozen embryo
    let ctx_bar_frozen = $("#barChartFrozen").get(0).getContext("2d");

    let stackedBarFrozen = new Chart(ctx_bar_frozen, {
        type: 'bar',
        connectNullData: true,
        data: {
            labels: ['<35', '35-37', '38-40', '>40'],
            datasets: [
                {
                    label: 'Percentage of frozen embryo resulting in multiple live biths', 
                    data: [data['fro_mul_1'], data['fro_mul_2'],  data['fro_mul_3'] , data['fro_mul_4']],
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    
                    borderColor: 'rgba(255, 99, 132, 1)',
            
                    borderWidth: 1           
                },

                {
                    label: 'Percentage of frozen embryo resulting in singleton live births', 
                    data: [ data['fro_sin_1'] , data['fro_sin_2'] ,  data['fro_sin_3'] , data['fro_sin_4'] ],
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1    
                }

            ],
        },
        options: {
            responsive: true,
            scales: {
                xAxes: [{
                    // stacked: true
                    type: 'category',
                    labels: ['Less than 35', '35-37', '38-40', '>40']
                }],
                yAxes: [{
                    ticks: {
                        suggestedMin: 10,
                        suggestedMax: 100
                    }
                }]
            }
        }
    });


</script>

<div  id="visibleCharts" onClick="makeInvisible();">
<script>
    function makeVisible() {


$("get-chart-button").on('click', makeVisible())
            }
</script>



<div id="clinic_map" style="height: 800px; width:800px"></div>

<script>

    let marker;

    function initMap() {
        let map = new google.maps.Map(document.getElementById('clinic_map'), {
            zoom: 15,
            center: {lat: {{ latitude }}, lng: {{ longitude }}}
        });

        marker = new google.maps.Marker({
            map: map,
            animation: google.maps.Animation.DROP,
            position: {lat: {{ latitude }}, lng: {{ longitude }}}
        });
        marker.addListener('click', toggleBounce);
    }

    function toggleBounce() {
        if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
        } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
        }
    }
</script>



<script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfjxfPTabsjVyZPQT1zp9L1VaB9sjvwxc&callback=initMap">
</script>
</div>
</div>





{% endblock %}




    


