

<style>
 #map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }
</style>

th, td {
    border: .1em solid red;
    padding: .25em;
}

table {
    border-collapse: collapse;
    width: 80%;
}